:root {
  --goldish: #eca637;
  --burntOrange: #bc722e;
  --drab: #72592a;
  --brick: #9d3014;
  --maroon: #722120;
  --sand: #c5a88c;
  --darkBrown: #523023;
  --silver: #e2e2e1;
  --graphite: #5f6f77;
  --midnight: #121b26;
  --yellow: #ffe81f;
}

div {
  border: 1px solid red;
}

body {
  background: var(--midnight);
  color: var(--yellow);
}

#gameBoard {
  background-color: var(--graphite);
  height: 50vh;
  padding: 5vh;
}

#timer,
#word {
  display: flex;
  justify-content: center;
}

#timer p {
  font-size: 24;
}

#word {
  font-size: 48px;
}

.startBtn {
  color: var(--yellow);
  background-color: var(--graphite);
  border: 3px solid var(--yellow);
}
.startBtn:hover {
  box-shadow: 0 0 20px var(--yellow);
}
